<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Super Insurance</title>
    <link href="/style/common.css" rel="stylesheet" type="text/css">
    <link href="/style/home.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%- include('navbar')%>

    <div class="hero">
        <div class="content">
            <h1>Assurance prêt immobilier</h1>
            <div>
                Chez WIC, nous vous offrons une gamme d'assurances de prêt immobilier
                adaptée à vos besoins
            </div>
            <button class="s_button" onclick="window.location.href='/front';">
                <div>Demander un devis</div>
            </button>
            <div style="padding-top: 5px;">
                Découvrez nos offres
            </div>
        </div>
    </div>

    <div class="faq">
        <h2><b>Comment ça marche ?</b></h2>
        <div class="container">
            <div>
                <span>1.</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    ex arcu, luctus eu felis sit amet, facilisis tristique nisl.</p>
                </div>
            <div>
                <span>2.</span>
                <p>Praesent iaculis sit amet libero nec tempor.</p>
            </div>
            <div>
                <span>3.</span>
                <p>Donec congue augue at nisi hendrerit rutrum.</p>
            </div>
        </div>
    </div>

    <div class="question">
        <a href="/">
            <h3>Vous avez des questions ?</h3>
        </a>
        <p>Nous sommes là pour vous aider !</p>
    </div>
  </body>
</html>