<div id="navbar">
    <a href="/api/">
        <img src="/img/wic.png"/>
    </a>
    <div>
        <button class="s_button" onclick="window.location.href='/api/signin';">
            <div>Se connecter</div>
        </button>
        <button class="s_button" onclick="window.location.href='/api/signup';">
            <div>S'enregistrer</div>
        </button>
    </div>
</div>