<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Super Insurance</title>
    <link href="/style/common.css" rel="stylesheet" type="text/css">
  </head>
  <body>
      <%- include('navbar')%>

      <p>Félicitations <%= firstName %> <%= lastName %>, tu es enregistré!</p>
      <p>Tu peux te connecter dès maintenant.</p>
  </body>
</html>